<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USERS LIST</title>
</head>
<style>
    table,td,th{
        border: 1px solid gray;
        padding: 2px;
        margin: auto;
    }
</style>
<body>
    <table>
        <tr>
            <th>Name</th>
            <th>Gmail</th>
        </tr>
        <% for(user of result){ %>
           <tr>
            <td><%=user.userName %></td>
            <td><%=user.email %></td>
            <td><a href="http://localhost:8080/users/edit/<%=user.id%>">Edit</a></td>
           </tr>
        <%}%> 
    </table>
</body>
</html>